[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasa = "*"
prompt-toolkit = "*"
flask = "*"
requests = "*"
jsonify = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3"
